@import "@/assets/scss/variables.scss";
@import "@/assets/scss/rounded-hexagon-mixin.scss";

$hexagonWidth: 80%;
$hexagonHeight: 72px;
$hexagonHeightSm: 52px;
$borderWidth: 1px;

.container {
  flex: 1 1 50%;
  position: relative;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  color: $black;
  @include hexagonDimensions($hexagonWidth, $hexagonHeight, $borderWidth);

  &.correct {
    &::before {
      border-bottom: solid 1px $green;
    }
    .border {
      background: $green;
    }

    .content {
      background-color: $greenTransparent;
    }
  }

  &.wrong {
    &::before {
      border-bottom: solid 1px $red;
    }
    .border {
      background: $red;
    }

    .content {
      background-color: $redTransparent;
    }
  }

  &.selected {
    &::before {
      border-bottom: solid 1px $orange;
    }
    .border {
      background: $orange;
    }

    .content {
      background-color: $orangeTransparent;
    }
  }
  @media (max-width: $smDevice) {
    font-size: 14px;
  }

  .border {
    min-width: 250px;
  }

  .content {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 32px;
    column-gap: 8px;
  }

  .letter {
    color: $orange;
    font-weight: 600;
  }
  .text {
    text-align: start;
  }
  @media (max-width: $smDevice) {
    @include hexagonDimensions($hexagonWidth, $hexagonHeightSm, $borderWidth);
  }
}
