@import "@/assets/scss/variables.scss";
.menu{
  flex: 0 0 376px;
  display: flex;
  row-gap: 8px;
  flex-direction: column-reverse;
  justify-content: center;
  min-height: 100vh;
  padding: 60px 0 20px 0;
  overflow: auto;
  @media (max-width: $smDevice) {
    display: none;
    flex: 1 0 100%;
    width: 100%;
    position: absolute;
    background-color: $greyTransparent;
    z-index: 3;
    &_active{
      display: flex;
    }
  }
}