@import "@/assets/scss/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vw;
  height: 100vh;
  padding: 20px 80px 20px 80px;
}
.image-container {
  text-align: center;
}
.image {
  width: 100%;
  height: 100%;
}

@media (max-width: $smDevice) {
  .container {
    padding: 48px 18px;
    flex-direction: column;
    row-gap: 42px;
  }

  .image {
    min-width: 150px;
    max-width: 80%;
  }
  .image-container {
    text-align: center;
    flex: 1 1 250px;
  }
  .content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}
