@import "@/assets/scss/variables.scss";

.game {
  flex: 1 1 auto;
  background-color: $greyTransparent;
  padding: 133px 80px 122px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
